#count-down {
    color: rebeccapurple;
    background-color: lemonchiffon;
    width: 22%;
    text-align: center;
}

body {
    background-color: lavender;
    color: darkgreen;
}

button {
    color:red;
    background-color: blue;
}